@import "./nullstyle";
@import "./varibles";
@import "./mixins";

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 940px;
}
.h1-text {
  font-size: $font-size-header-1;
  font-family: $font-family-header-1;
  color: $font-color-headers;
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
}
.h1 {
  padding-left: 20px;
}
.h2-text {
  font-size: $font-size-header-2;
  font-family: $font-family-header-2;
  color: $font-color-headers;
  text-transform: uppercase;
  font-weight: $font-weight-header-2;
  letter-spacing: 6px;
  &_align_center {
    text-align: center;
  }
}
.h2 {
  &_main-sections-layout {
    padding: 50px 0 20px 0;
  }
  &_padding-top_0 {
    padding-top: 0;
  }
}
.plain-text {
  font-family: $font-family-plain-text;
  color: $font-color-plain-text;
  font-size: $font-size-plain-text;
}
.main {
  &__container {
    display: flex;
  }
}
.main-container {
  width: 57.45%;
}
.header {
  padding: 51px 0;
  &__user-field {
    overflow: hidden;
    display: flex;
    justify-content: center;
    &_margin_20px {
      margin-top: 20px;
    }
  }
}
.edit-field-input {
  display: inline-block;
  border: 2px solid #000;
  &_size_l {
    width: 100%;
    @extend .h1-text;
  }
  &_size_m {
    width: 100%;
    @extend .h2-text;
  }
  &_size_s {
    width: 170px;
    padding: 2px 0 2px 10px;
    @extend .plain-text;
  }
  &_margin-left_13px {
    margin-left: 13px;
  }
  &_text-align_center {
    text-align: center;
  }
  &_border-color_success {
    border-color: $border-color-input-success;
  }
  &_border-color_failure {
    border-color: $border-color-input-failure;
  }
}
.contacts {
  &__contacts-list {
    padding-left: 10px;
  }
}
.side-container {
  width: 42.55%;
  padding-right: 15px;
}
.contacts-list {
  &__item {
    position: relative;
    align-items: center;
    display: flex;
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
    &_size_l:before {
      content: '...';
      position: absolute;
      top: 4px;
      left: 375px;
    }
  }
  &__description-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-contact-icons;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  &__description-icon {
    fill: $color-contact-icons;
    height: 16px;
  }
  &__item-info {
    margin-left: 13px;
  }
  &__action-button {
    margin-left: 10px;
  }
}
.action-button {
  color: $color-content-action-button;
  background-color: $bg-color-action-button;
  border-radius: 3px;
  padding: 2px 7px;
  display: flex;
  align-items: center;
  font-family: $font-family-plain-text;
  font-size: 12px;
  transition: background-color .4s ease-in-out;
  &__action-icon {
    cursor: pointer;
    max-width: 12px;
    max-height: 12px;
    fill: $color-content-action-button;
    margin-right: 3px;
  }
  &:hover {
    background-color: #6B6B6B;
  }
  &_margin-left_13px {
    margin-left: 13px;
  }
}
.education {
  &__action-button {
    margin-top: 15px;
  }
  &__add-education-form {
    @extend .contacts__contacts-list;
    margin-top: 15px;
  }
}
.add-education-form {
  &_display_none {
    display: none;
  }
  &__action-button {
    margin-top: 10px;
  }
  &__edit-field-input {
    margin-top: 5px;
  }
  &__label {
    margin-top: 8px;
    &:first-child {
      margin-top: 0;
    }
  }
}
.control-buttons {
  display: flex;
  width: 100%;
}
.education-list {
  &__item {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child {
      margin-top: 0;
    }
  }
}
.icon-button {
  width: 30px;
  background-color: transparent;
  height: 30px;
  &__action-icon {
    width: 100%;
    height: 100%;
    fill: $color-content-icon-button;
  }
}
.fields-list {
  @extend .contacts__contacts-list;
  &__item {
    margin-top: 7px;
  }
  &__item:first-child {
    margin-top: 0;
  }
}
.experience {
  padding: 0 15px;
  &__h2 {
    padding-bottom: 16px;
  }
  &__action-button {
    margin-top: 20px;
  }
  &__textarea {
    display: block;
    width: 100%;
    height: 100px;
    border: 2px solid #000;
    padding: 2px 10px 2px 10px;
  }
  &__plain-text {
    line-height: 1.8;
  }
}