$font-size-header-1: 40pt;
$font-size-header-2: 12pt;
$font-size-plain-text: 10pt;

$font-family-header-1: 'Noto Serif', Helvetica, Arial, serif;
$font-family-header-2: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-plain-text: 'Open Sans', Helvetica, Arial, sans-serif;

$font-weight-header-2: 700;

$font-color-headers: #000;
$font-color-plain-text: #000;

$color-contact-icons: #fff;
$color-content-action-button: #fff;
$color-content-icon-button: #000;
$bg-color-contact-icons: #4C4C4C;
$bg-color-action-button: #4C4C4C;
$border-color-input-success: #64dd17;
$border-color-input-failure: #d50000;
